alabaster==0.7.11
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
backcall==0.1.0
bleach==2.1.4
blessings==1.7
bpython==0.17.1
certifi==2018.8.24
chardet==3.0.4
curtsies==0.3.0
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
docutils==0.14
entrypoints==0.2.3
greenlet==0.4.15
html5lib==1.0.1
hypothesis==3.71.3
idna==2.7
imagesize==1.1.0
imbalanced-learn==0.3.3
ipykernel==4.9.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.1
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.3
mistune==0.8.3
more-itertools==4.3.0
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.1
notebook==5.6.0
numpy==1.15.1
packaging==17.1
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.4
pluggy==0.7.1
prometheus-client==0.3.1
prompt-toolkit==1.0.15
ptyprocess==0.6.0
py==1.6.0
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.8.0
python-dateutil==2.7.3
pytz==2018.5
pyzmq==17.1.2
qtconsole==4.4.1
requests==2.19.1
rpy2==2.9.4
scikit-learn==0.19.2
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.7.9
sphinxcontrib-websupport==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.1
tqdm==4.26.0
traitlets==4.3.2
typing==3.6.6
tzlocal==1.5.1
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.1
